.btn .btn-info {
    padding: 2px 0.75em;
    font-size: 12px;
    cursor: pointer;
}

#opening_hours select {

    padding: 5px 10px !important;
}

.btn-chk {

    background-color: #dc3545 !important;
  }


@media only screen and (max-width: 480px) {
 
   a .get-start-btn {
      
    display: block;
    margin-top: 15px !important;
    margin-left: 0 !important;

    }

    .main-search-bar {
        padding-top: 50px !important;
        padding-bottom: 50px !important;
        background-position: left !important;
    }

    .user-dashboard {
        width: 100% !important;
    }

    .menu-item-holder .quantity {
        right: 0 !important;
        margin-top: -30px !important;
    }

    .table.opening-hours {
        width: 100%;
    }

    .table td {
        padding: 0.5rem !important;
    }
}

table td, table th {
    line-height: 1rem !important;
}

 

