.btn .btn-info {
    padding: 2px 0.75em;
    font-size: 12px;
    cursor: pointer;
}

#opening_hours select {

    padding: 5px 10px !important;
}


.btn-chk   {

    background-color: #8c7332 !important;
  }

